@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Moderustic:wght@300..800&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Jersey 10", sans-serif;
    
}
.banner{
    position:relative;
    display:flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 50px;
    background-color: rgb(208, 255, 251);
    transition:0.5s;
}
header{
    position: absolute;
    background:cyan;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    border:0.75px solid #939292;
}
header .logo{
    text-decoration: none;
    font-size: 3em;
    font-weight: 700;
    transition: 0.5s;
}
header ul{
    display:flex;
    gap:40px;

}
header ul li{
    list-style: none;
    transition: 0.5s;
}
header ul a{
    text-decoration: none;
    font-weight: 500;
    font-size: 2em;
    color:#333;
    transition: 0.5s;
}
.content{
    position:relative;
    max-width: 700px;
}
.content h1{
    font-size: 6em;
    width: auto;
    white-space: nowrap;
    transform: 0.5s;
}
.content h2{
    font-size:5em;
    color:#333;
    transition: 0.5s;
    white-space: nowrap;
}
.content span{
    color:cyan;
}
.content p{
    font-size: 1.5em;
    color:black;
    transition: 0.5s;
    margin:10px 0;
}
.content button{
    position:relative;
    background:cyan;
    color:#fff;
    border:none;
    outline:none;
    padding:15px 30px;
    font-size: 1.5em;
    letter-spacing: 0.05em;
    margin-right:20px;
    border-radius: 10px;
    cursor:pointer;
    transition:0.5s;
}


.daynight{
    position:absolute;
    bottom:25px;
    left:50%;
    width:60px;
    height:60px;
    background-color: aliceblue;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
    transition:0.5s;
    font-size: 2em;
}

.daynight ion-icon:nth-child(2),
.banner.night .daynight ion-icon:nth-child(1)
{
    display:none;
}
.banner.night .daynight ion-icon:nth-child(2){
    display:block;
}
.banner.night{
    background:#333;
}
.banner.night .daynight{
    color:#939292;
    background:#444;
}

.banner.night .content h2,
.banner.night .content h1,
.banner.night .content p,
.banner.night .content button.b2,
.banner.night header ul li a{
    color:beige;
}
.banner.night img{
    border-color: antiquewhite;
}
.banner.night header{
    background:grey;
    border-bottom:1px solid antiquewhite ;
}

img{
    height:515px;
    width:460px;
    display: flex;
    margin-left: 249px;
    margin-top: 15px;
    transition: 0.5s;
    border: 1px solid #939292;
    border-radius: 5px;    
}